{% extends "abokistde/login_template.html" %}

{% block content %}
  {% if user.is_authenticated %}
    <p>Logged in as {{ user.get_username }}</p>
    <a href="/accounts/logout/">
      <button>
        LOGOUT
      </button>
    </a>
  {% else %}
    {% if form.errors %}
      <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
      {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed,
          please login with an account that has access.</p>
      {% else %}
        <p>Please login to see this page.</p>
      {% endif %}
    {% endif %}

    <form method="post"
          action="{% url 'login' %}"
    >
      {% csrf_token %}

      <div>
        <input type="text"
               name="username"
               placeholder="Username"
        >
      </div>
      <div>
        <input type="password"
               name="password"
               placeholder="Password"
        >
      </div>
      <input type="hidden"
             name="next"
             value="/accounts/login/">

      <input type="submit"
             value="LOGIN"
             style="background-color: var(--primary); color: #fff"/>
      <a href="{% url 'django_registration_register' %}">
        <button style="float: right" type="button">
          REGISTER
        </button>
      </a>
    </form>
  {% endif %}

  {# Assumes you set up the password_reset view in your URLconf #}
  {#    <p><a href="{% url 'password_reset' %}">Lost password?</a></p>#}
{% endblock %}