{% extends "abokistde/base_app.html" %}

{% block body %}

  <div style="width: 100vw">
    <v-card style="max-width: 400px" class="pa-4 mt-16 mx-auto">
      {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
      {% endif %}

      {% if next %}
        {% if user.is_authenticated %}
          <p>Your account doesn't have access to this page. To proceed,
            please login with an account that has access.</p>
        {% else %}
          <p>Please login to see this page.</p>
        {% endif %}
      {% endif %}

      <form method="post"
            action="{% url 'login' %}">
        {% csrf_token %}

        <v-text-field
                name="username"
                label="Username"
                type="text"
        ></v-text-field>
        <v-text-field
                name="password"
                label="Password"
                type="password"
        >
        </v-text-field>

        <v-btn
                type="submit">Login
        </v-btn>
        <input type="hidden"
               name="next"
               value="{{ next }}">
      </form>

      {# Assumes you set up the password_reset view in your URLconf #}
      {#    <p><a href="{% url 'password_reset' %}">Lost password?</a></p>#}
    </v-card>
  </div>
{% endblock %}