{% extends "abokistde/login_template.html" %}

{% block content %}
  {% if form.errors %}
    There were errors registering your account:
    <div class="ml-8">{{ form.errors }}</div>
  {% endif %}

  <form method="post"
        action="{% url 'django_registration_register' %}">
    {% csrf_token %}

    <v-text-field
            name="username"
            label="Username"
            type="text"
    ></v-text-field>
{#    <v-text-field#}
{#            name="email"#}
{#            label="Email (optional)"#}
{#            type="email"#}
{#    >#}
{#    </v-text-field>#}
    <input type="hidden" name="email" value="fake@example.org">
    <v-text-field
            name="password1"
            label="Password"
            type="password"
    >
    </v-text-field>
    <v-text-field
            name="password2"
            label="Repeat Password"
            type="password"
    >
    </v-text-field>


    <v-btn type="submit">Register</v-btn>

    <input type="hidden"
           name="next"
           value="{{ next }}">
  </form>

  {# Assumes you set up the password_reset view in your URLconf #}
  {#    <p><a href="{% url 'password_reset' %}">Lost password?</a></p>#}
{% endblock %}