{% extends "abokistde/base.html" %}
{% load variable %}

{% block title %}Abokistde{% endblock %}

{% block variables %}
  {{ block.super }}
  {{ episodes|variable:"episodes" }}
{% endblock %}

{% block content %}
  <v-card
          class="mx-auto"
          max-width="100%"
  >
    <v-container fluid>
      <v-row dense
             class="ma-4">
        <channel-filter-button></channel-filter-button>
        <v-spacer></v-spacer>
        <refresh-button></refresh-button>
      </v-row>
      <episode-overview></episode-overview>
    </v-container>
  </v-card>
{% endblock %}